// Bootstrap variables (https://bootstrap-vue.org/docs/reference/theming)
$body-bg: #fff;
$body-color: #000;

$theme-colors: (
  "primary": #fa24aa,
  "navbar": rgba(0,0,0,.75),
);

// Import all the bootstrap stuff
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
